<div class="row-fluid marketing">

  <% if @message && @message.length > 0 then %>
    <div class="alert alert-error" role="alert">
      <%= @message %>
    </div>
  <% end %>

  <h3>
    About
  </h3>
  <br>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam malesuada faucibus nisl vel sagittis. Donec quis lectus consequat velit vehicula pellentesque et dictum sapien. Nullam vestibulum porta nunc et accumsan. Cras fermentum rhoncus sapien a molestie. In lacinia maximus odio semper mollis. Suspendisse tellus sem, lobortis id fermentum ut, semper id nisi. Suspendisse ut condimentum nisi, eget aliquet tellus. Nullam iaculis, mi quis interdum dictum, magna urna cursus dolor, a fringilla nunc magna at urna. Cras leo nulla, elementum quis metus sed, congue pretium arcu.</p>

  <p>Donec non est commodo eros pellentesque pretium. Praesent sit amet nisl fermentum, fermentum sem et, rhoncus est. Duis ultricies laoreet purus. Duis vitae justo auctor, molestie augue et, laoreet ipsum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec odio tellus, rutrum vitae elit vehicula, pellentesque ullamcorper augue. Curabitur eu ultrices lectus. Vivamus porta quam odio. Etiam faucibus ante quis sodales fringilla. Quisque vel ipsum turpis. Praesent nec maximus nisi, a vehicula ligula.</p>

</div>