<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">

      <h3 class="pb-4 mb-4 font-italic border-bottom">
        Add New Post
      </h3>

      <form>
        <div class="form-group">
          <label for="inputPostTitle">Post Title</label>
          <input type="text" class="form-control" id="inputPostTitle" name="post_title" aria-describedby="emailHelp">
          <!-- small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small -->
        </div>
        <div class="form-group">
          <label for="textareaPostBody">Post Body</label>
          <textarea class="form-control" id="textareaPostBody" name="post_body" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>
  </div>
</main><!-- /.container -->